@import "../../styles/palette.css";

 
 

.chordProgressionBoxTools {
	display: flex;
	margin: 1rem;
	padding: 0.1rem;
	justify-content: space-between;
	width: 100%;
}

.chordProgressionBoxTools .tool {
	height: 1rem;
	margin: 0.2rem;
	padding: .5rem;
	border-radius: .5rem;
	background-color: var(--primary-bg-color);
	text-align: center;
}

.tool-icon{
	margin: auto;
	font-size: 1rem;
}

.chordProgressionBoxTools .tool:hover {
	cursor: pointer;
	 
}