@import "../../styles/palette.css";

.chordProgressionTools{
	margin: 1rem;
}

#svgchords{ 
	height: 120px;
	font-size: .3rem;
	 width: 30rem;
} 

#svgchords tspan{
	 fill: var(--primary-knob-color);
}