@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@font-face {
	font-family: "av0";
	src: url("../fonts/av0.woff") format("woff2");
}
@font-face {
	font-family: "av1";
	src: url("../fonts/av1.woff") format("woff2");
}
